<section class="sidebar">
  <a href="/">
    <img src="{{ site.github.owner_gravatar_url }}?s=150" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="meta">
    <a href="mailto:Ramnath%20Krishnamurthy<k.ramnath@gmail.com>" target="_blank"><i class="fa fa-envelope"></i></a>
    <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="/atom.xml"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about.html">about</a></li>
      <li><a href="/">posts</a></li>
    </ul>
  </section>
</section>
